### Hi there 👋

<h2>📘 My Recent Open Source Contributions</h2>

<div><% recent_repos.take(8).each do |owner, repo| %>
  <a href="https://github.com/<%= owner %>/<%= repo %>/issues?q=author%3Akiskoza">
    <picture>
      <source
          srcset="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=2&theme=dark"
          media="(prefers-color-scheme: dark)"/>
      <source
          srcset="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=2"
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=2"/>
    </picture>
  </a>
<% end %></div>

<details><summary>... and more</summary>
<ul><% recent_repos.drop(8).each do |owner, repo| %>
  <li>
    <a href="https://github.com/<%= owner %>/<%= repo %>/issues?q=author%3Akiskoza"><%= owner %>/<%= repo %></a>
  </li>
<% end %></ul>
</details>

<h2>🔨 My Experimental Repos</h2>

<div><% experimental_repos.each do |repo| %>
  <a href="https://github.com/kiskoza/<%= repo %>">
    <picture>
      <source
          srcset="https://github-readme-stats.vercel.app/api/pin/?username=kiskoza&repo=<%= repo %>&show_owner=false&description_lines_count=2&theme=dark"
          media="(prefers-color-scheme: dark)"/>
      <source
          srcset="https://github-readme-stats.vercel.app/api/pin/?username=kiskoza&repo=<%= repo %>&show_owner=false&description_lines_count=2"
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
      <img src="https://github-readme-stats.vercel.app/api/pin/?username=kiskoza&repo=<%= repo %>&show_owner=false&description_lines_count=2"/>
    </picture>
  </a>
<% end %></div>
