### Hi there 👋

<details open>
  <summary><h2>📘 My Recent Open Source Contributions</h2></summary>

  <div><% recent_repositories.each do |owner, repo| %>
    <a href="https://github.com/<%= owner %>/<%= repo %>/issues?q=author%3Akiskoza">
      <picture>
        <source
            srcset="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=3&theme=dark"
            media="(prefers-color-scheme: dark)"/>
        <source
            srcset="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=3"
            media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
        <img src="https://github-readme-stats.vercel.app/api/pin/?username=<%= owner %>&repo=<%= repo %>&show_owner=true&description_lines_count=3"/>
      </picture>
    </a><% end %>
  </div>

</details>

## I try new things

- [elo-point-system](https://github.com/kiskoza/elo-point-system) <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rust/rust-plain.svg" alt="rust" width="18" height="18"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/webpack/webpack-original.svg" alt="webpack" width="18" height="18"/>
- [heroku-buildpacks-demo](https://github.com/kiskoza/heroku-buildpacks-demo) <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-original.svg" alt="heroku" width="18" height="18"/>
- [motion-led](https://github.com/kiskoza/motion-led) <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="cpp" width="18" height="18"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="html5" width="18" height="18"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="18" height="18"/>
- [pass-outdated](https://github.com/kiskoza/pass-outdated) <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bash/bash-original.svg" alt="bash" width="18" height="18"/>
- [xfce4-spotify-plugin](https://github.com/kiskoza/xfce4-spotify-plugin) <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ubuntu/ubuntu-plain.svg" alt="ubuntu" width="18" height="18"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="18" height="18"/>
